<div class="row m-1">
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                <strong>Todo list</strong>
            </div>
            <div class="card-body">
                <ul class="list-group">
                    <deal-list-item *ngFor="let deal of deals" [deal]="deal" 
                    (processSelectDeal)="selectDeal($event)"
                    (processMarkDone)="markDone($event)"
                    (removeDeal)="removeDealItem($event)"></deal-list-item>
                </ul>
                <hr>
                <app-deal-editor [deal]="selectedDeal" (processDealAdd)="addNewDeal($event)"
                    (processDealUpdate)="updateDeal($event)"></app-deal-editor>
            </div>
        </div>
    </div>
</div>